{% extends "basec.html" %}



{% block title %}Change password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
			<div class="col-3">
            <form method="POST" action="/account/send-change">
			  <fieldset>
			    <legend>Change password</legend>
			    <div class="form-group">
			      <label for="email">Current password</label>
			      <input type="password" class="form-control " id="email" placeholder="Enter current password" name="cpassword" {% if email %}value="{{ email }}"{% endif %}>
			    </div>
			    <div class="form-group">
			      <label for="pass">New password</label>
			      <input type="password" class="form-control" id="pass" placeholder="Enter new password" name="npassword">
			    </div>
			    <button type="submit" class="btn ">Change password</button>
			  </fieldset>
			</form>	
            </div>
        </div>
    </div>
{% endblock %}