{% extends "basec.html" %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
			<div class="col-3">
            <form method="POST" action="/account/send-reset">
			  <fieldset>
			    <legend>Reset password</legend>
			    <div class="form-group">
			      <label for="email">Email address</label>
			      <input type="text" class="form-control " id="email" placeholder="Enter email" name="email" {% if email %}value="{{ email }}"{% endif %}>
			    </div>
			    <button type="submit" class="btn btn-primary">Send</button>
			  </fieldset>
			</form>	
            </div>
        </div>
    </div>
{% endblock %}