.backend-navigation{
    display: flex;
    padding: 2rem 35rem;
    justify-content: space-around;
}

.backend-navigation a {
    font-size: 22px;
    color: black;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.actions a {
    color: rgb(0, 0, 0);
}