.success{
    background-color: rgb(179, 255, 208);
}
.fail {
    background-color: rgb(255, 152, 152);
}
.info{
    background-color: rgb(253, 253, 178);
}



html {
font-size: 62.5%;
box-sizing: border-box;
}

*:before, *:after, * {
box-sizing: inherit;
padding: 0;
margin: 0;

}
body {
font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
font-size: 1.6rem;
line-height: 1.8;
}

.btn{
    background-color: rgb(216, 216, 216);
    border: none;
    color: #000;
    padding: 3px 6px;
    font-size: 1.6rem;
}
.container{
    width: 90%;
}