.opinions{
    padding: 1rem;
}

.opinions__container{
    background-color: #F2ECDF;
    border-radius: 1.5rem;
    padding: 1rem;
}

.opinions__name{
    color: #727272;
    font-size: 1.8rem;
}

.opinions__starts{
    width: 45%;
    margin: 0.5rem 0;
}

.opinions__commet{
    color: #727272;
}

.visit-blog-btn{
    display: block;
    width: auto;
    margin: 2rem auto;
}

