.ajax-images{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
    padding: 5%;
    display: none;
    justify-content: center;
    align-items: center;

}

.images-holder{
    background-color: #fff;
    width: 75%;
    height: 100%;
    border: solid 1px gray;

    grid-template-columns: 3fr;
    overflow: scroll;
    padding: 25px;
    gap: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img{
    max-width: 100%;
    box-shadow: gray 3px 3px 3px;
}
