.main__price{
    border: 0.20000000298023224px solid #707070;
    text-align: center;
    margin: 3rem 0;
    padding: 1rem;
}

.main__{
    margin: 3rem 0;
    text-align: center;
    font-size: 1.6rem;
}

._25{
    margin: 0 auto;
    width: 29px;
}

.white-card{
    margin: 3rem 0;
}