{% extends "base-admin.html" %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Blog</h1>
    <a href="/ccb/admin/blog/nuevo">Nuevo</a>
    <h2>Entradas</h2>
    <ul>
        {% for p in posts %}
            <li>{{ p.title }}</li>
        {% endfor %}
    </ul>
    <h2>Categorías</h2>
    <form action="/ccb/admin/blog/add-category" method="post">
        <div>
            <input type="text" name="name" placeholder="Añadir nueva categoría">
        </div>
        <input type="submit" value="Añadir">
    </form>
    <ul>
        {% for c in categories %}
            <li>{{ c.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
