{% extends "base-admin.html" %}

{% block title %}Blog{% endblock %}

{% block body %}
   <h1>Nueva entrada</h1>
     <div class=" formc">
            <form action="/ccb/admin/blog/save" method="post">


            <input type="hidden" name="thumbnail" value="xs">
            
            <div>
                <input type="text" name="title" placeholder="Titulo">
            </div>
            <div>
                <button type="button">Añadir portada</button>
            </div>
            <div>
                <textarea name="content" placeholder="Contenido" id="p"></textarea>
            </div>

            <div>
                <label>Categoría
                    <select name="category">
                    <option value="1">Felicidad</option>
                </select>
                </label>
            </div>

            <div>
                <textarea name="tags" placeholder="Etiquetas" class="tags"></textarea>
            </div>

            <div>
                <label>Estado
                    <select name="status">
                    <option value="1">Publico</option>
                    </select>
                </label>
            </div>
            
            <div>
                <input type="submit" value="Guardar">
            </div>
        </form>
     </div>


    <script src="/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
        selector: "#p",
        plugins: "wordcount code link emoticons textcolor table",

        toolbar: "wordcount undo redo emoticons | bold italic underline strikethrough formatselect | table forecolor backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link code image_upload",
        menubar:false,
        statusbar: true,
        content_style: ".mce-content-body {font-size:15px;font-family:Arial,sans-serif;}",
        height: 400,
        //options
        table_default_styles: {
        'border-collapsed': 'collapse',
        'border': '2px solid black'
        },
        table_responsive_width: true,
        table_toolbar: "tableprops tabledelete | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol",
        textcolor_cols: "8",
        //options
        setup: function(ed) {
            var fileInput = $('<input id="tinymce-uploader" type="file" name="pic" accept="image/*" style="display:none">');
            $(ed.getElement()).parent().append(fileInput);
         
            fileInput.on("change",function(){           
                var file = this.files[0];
                var reader = new FileReader();          
                var formData = new FormData();
                var files = file;
                formData.append("file",files);
                formData.append('filetype', 'image');               
                jQuery.ajax({
                url: "/test",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                async: false,
                success: function(response){
                    var fileName = response;
                    if(fileName) {
                        ed.insertContent('<img src="/img/'+fileName+'" alt="'+fileName+'"/>');
                        }
                    }
                });     
                reader.readAsDataURL(file);  
            });     
         
            ed.addButton('image_upload', {
                tooltip: 'Upload Image',
                icon: 'image',
                onclick: function () {
                    fileInput.trigger('click');
                    }
                });
            }
        });
</script>

{% endblock %}
