{% extends "base-admin.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block body %}

    <h1>Inicia sesión</h1>

    <form action="/ccb/admin/login/create" method="post" >
        <div>
            <input type="text" name="email" placeholder="email" value="{{ email }}">
        </div>
        <div>
            <input type="password" name="password" placeholder="password" id="password">
            <button type="button" id="passwordBtn">ver</button>
        </div>
        <div>
            <label >
                <input type="checkbox" name="remember_me" {% if remember_me %} checked {% endif %}>Recuérdame
            </label>
        </div>
        <input type="submit" value="Log in">
    </form>

    <script src="/js/login/login.js" defer></script>
{% endblock %}
