<section class="contact">
    <h2 class="contact__title">CONTACTO</h2>
    
    <p class="contact__description">Si antes de coger tu cita, necesitas más información, no dudes en contactar conmigo.</p>
    
    <div class="contact__content">
        <div class="contact__item">
            <img src="/img/mail-icon.svg" alt="mail-icon" class="contact__img">
            <p>canobernardezpsicologa @gmail.com</p>
        </div>
        
        <div class="contact__item">
            <img src="/img/phone-icon.svg" alt="phone-icon" class="contact__img">
            <p>687642983</p>
        </div>
        
        <div class="contact__item">
            <img src="/img/loc-icon.svg" alt="loc-icon" class="contact__img">
            <p>“Llave de Luz”, Calle Socorro Nº14 (41003, Sevilla)</p>
        </div>
    </div>
</section>