<div class="services">
    <div class="services__item">
        <img src="/img/Adultos.svg" alt="adultos" class="services__icon">
        <p class="services__item-title">Adultos</p>
    </div>

    <div class="services__item">
        <img src="/img/Adultos.svg" alt="adultos" class="services__icon">
        <p class="services__item-title">Adultos</p>
    </div>

    <div class="services__item">
        <img src="/img/Adultos.svg" alt="adultos" class="services__icon">
        <p class="services__item-title">Adultos</p>
    </div>

    <div class="services__item">
        <img src="/img/Adultos.svg" alt="adultos" class="services__icon">
        <p class="services__item-title">Adultos</p>
    </div>

    <div class="services__item">
        <img src="/img/Adultos.svg" alt="adultos" class="services__icon">
        <p class="services__item-title">Adultos</p>
    </div>
</div>