{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>BLOG</h1>

    <main>
        <div class="single-post mobile-container">
            <div class="single-post__container">
                <div class="single-post__img-container">
                    <a href="#" class="btn btn-white single-post__btn">LEER</a>
                    <img src="/img/post-img.jpg" alt="post">
                </div>
                <div class="single-post__content">
                    <h2 class="single-post__title">Título de entrada del blog</h2>
                    <em> <p class="single-post__description">Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit. Quo vitae corrupti voluptas veritatis ratione </p></em>
                </div>
            </div>
        </div>

        <div class="single-post mobile-container">
            <div class="single-post__container">
                <div class="single-post__img-container">
                    <a href="#" class="btn btn-white single-post__btn">LEER</a>
                    <img src="/img/post-img.jpg" alt="post">
                </div>
                <div class="single-post__content">
                    <h2 class="single-post__title">Título de entrada del blog</h2>
                    <em> <p class="single-post__description">Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit. Quo vitae corrupti voluptas veritatis ratione </p></em>
                </div>
            </div>
        </div>
        <div class="single-post mobile-container">
            <div class="single-post__container">
                <div class="single-post__img-container">
                    <a href="#" class="btn btn-white single-post__btn">LEER</a>
                    <img src="/img/post-img.jpg" alt="post">
                </div>
                <div class="single-post__content">
                    <h2 class="single-post__title">Título de entrada del blog</h2>
                    <em> <p class="single-post__description">Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit. Quo vitae corrupti voluptas veritatis ratione </p></em>
                </div>
            </div>
        </div>

        <section class="tags mobile-container">
            <h2>Otros temas que pueden interesarte</h2>
            <span class="tag tag-brown">Ipsum</span>
            <span class="tag tag-beige">Mas temas</span>
            <span class="tag tag-brown">Masasae</span>
            <span class="tag tag-beige">Lorem</span>
            <span class="tag tag-brown">Ipsum</span>
            <span class="tag tag-beige">Mas temas</span>
            <span class="tag tag-brown">Mas</span>
        </section>
    
    </main>

   {{ include('./theme/contact.html') }}

{% endblock %}
