{% extends "base.html" %}

{% block title %}Home{% endblock %}

    {% block stylesheet %}
    <link rel="stylesheet" href="/css/citas.css"> 
    {% endblock %}

{% block body %}

    <h1>PEDIR CITA</h1>

    <form>
        <div class="citas__actions">
            <button class="btn pill-btn beige-bg" type="button">ONLINE</button>
            <button class="btn pill-btn beige-bg" type="button">PRESENCIAL</button>
        </div>
        <div class="input-text">
            <input type="text" name="" id="" placeholder="Nombre y apellidos*">
        </div>

        <div class="input-text">
            <input type="text" name="" id=""  placeholder="Telefono*">
        </div>

        <div class="input-text">
            <input type="text" name="" id=""  placeholder="Mail (opcional)">
        </div>

        <input type="submit" value="Confirmar" class="btn btn-brown" style="display: block; margin: 6rem auto 0;">
    </form>

{% endblock %}
