<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="/js/global.js" defer></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/global.css">

</head>
<body>

    {% for m in flash_notification %}
        <div class="alert {{ m.type }}">
            {{ m.message }}
        </div>
    {% endfor %}
    <nav>
        <a href="/">Home</a>

        {% if currentUser %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
        {% endif %}

    </nav>
    {% block body %}
    {% endblock %}

</body>
</html>
