<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/about-me.css">
    {% block stylesheet %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% block body %}
    {% endblock %}

    {% block footer %}
    <footer>hello</footer>
    {% endblock %}
</body>
</html>
